<div class="flex flex-col justify-center items-center ml-96 w-2/3">
    <h2 class="text-center text-4xl font-bold font-roboto p-4">Salles</h2>
    <app-datatable
        [data]="movies"
        [displayColumns]="displayColumns()"
        (onDeleteId)="handleDeleteMovie($event)"
        (onEditItem)="handleEditMovie($event)"
    />
    <button
        class="my-6 mx-auto w-48 bg-peach rounded-lg p-2 font-bold text-sm flex justify-between cursor-pointer"
        (click)="onDisplayForm()"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
            [ngStyle]="{ display: isDisplayAddForm() ? 'none' : 'block' }"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
        </svg>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
            [ngStyle]="{ display: isDisplayAddForm() ? 'block' : 'none' }"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
        </svg>

        ajouter un film
    </button>
    @if (isDisplayAddForm()) {
        <h3 class="font-bold text-2xl">Ajouter</h3>
        <app-form
            [formModelConfig]="formModelConfig"
            (outputForm)="handleAddRoom($event)"
            (displayForm)="handleCloseForm($event)"
            (fileOutput)="handleUploadFile($event)"
            class="w-96"
        />
    }
    @if (isDiplayEditForm()) {
        <h3 class="font-bold text-2xl">Modifier</h3>
        <app-form
            [formModelConfig]="formModelConfig"
            [currentItem]="currentMovieDisplayOnForm()"
            (outputForm)="handleUpdateMovie($event)"
            (displayForm)="handleCloseForm($event)"
            class="w-96"
        />
    }
</div>
