@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';
@import "tailwindcss";

* {
box-sizing: border-box;
}

body,
html {
    height: 100%;

}

@theme {
  --color-peach: #FFBF69;
  --color-seasalt: #F7F7F7;
  --color-darkblue: #001D3D;
  --color-sage: #D4D2A5;
  --font-montserrat: 'Montserrat', 'sans-serif';
  --font-roboto: 'Roboto', 'sans-serif';
}