<h1 class="font-roboto text-6xl text-center my-10">Cinéphoria</h1>
<div class="m-auto w-3/4 md:w-1/2">
    <div class="">
        <p>
            Bienvenue chez <strong class="text-peach">Cinéphoria</strong>, le
            cinéma engagé !
        </p>
        <p>
            Cinéphoria est bien plus qu’un simple réseau de cinémas : c’est une
            véritable institution du 7ᵉ art, née de la passion de cinéphiles
            convaincus. Présente depuis plusieurs décennies en
            <strong class="text-peach">France</strong> et en
            <strong class="text-peach">Belgique</strong>, Cinéphoria séduit chaque année des
            milliers de spectateurs grâce à une programmation riche, des salles
            modernes, et une vision résolument tournée vers l’avenir.
        </p>
        <p>
            Avec 7 cinémas répartis à Paris, Nantes, Bordeaux, Toulouse, Lille,
            Charleroi et Liège, notre réseau emploie 80 collaborateurs engagés à
            offrir une expérience cinématographique de qualité.
        </p>
        <p>
            Notre force ? Allier divertissement et responsabilité. Cinéphoria
            reverse 20 % de son chiffre d’affaires à des initiatives
            <strong class="text-peach">écologiques</strong>, faisant de chaque
            séance un acte de soutien pour la planète.
        </p>
        <p>Cinéphoria, le cinéma qui a du sens.</p>
    </div>
    <div class="text-peach font-roboto text-3xl my-20">
        Les sorties du mercredi :
    </div>
    <!-- carousel -->
    <app-carousel [items]="moviesback"/>
</div>
