<header>
    <nav
        class="flex justify-between md:justify-evenly center p-4 items-center border-b-2 border-b-peach"
    >
        <a [routerLink]="['/']" class="md:basis-1/3 md:pl-10">
            <img
                src="/logo.png"
                alt="logo de Cinéphoria"
                class="w-16 rounded-full border-2 border-darkblue"
            />
        </a>
        <!-- burgermenu -->
        <div
            class="flex flex-col justify-center gap-1.5 p-2 border-2 border-darkblue rounded-full md:basis-1/3 md:hidden"
            (click)="showSideMenu()"
            (keyup.enter)="showSideMenu()"
            tabindex="0"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-10"
                [ngStyle]="{ display: isShowSideMenu() ? 'none' : 'flex' }"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
            </svg>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-10"
                [ngStyle]="{ display: isShowSideMenu() ? 'flex' : 'none' }"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12"
                />
            </svg>
        </div>
        <!-- navbar -->
        <div class="hidden md:flex basis-1/3 md:justify-center">
            <ul
                class="flex w-full justify-evenly items-center gap-4 *:px-3 *:py-1"
            >
                <li class="relative hover:cursor-pointer">
                    <a
                        [routerLink]="['movies']"
                        class="transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-peach before:transition-all before:duration-500 hover:before:right-0 hover:before:w-full"
                        ><span class="relative z-10">Films</span></a
                    >
                </li>
                <li class="relative hover:cursor-pointer">
                    <a
                        [routerLink]="['reservation']"
                        class="transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-peach before:transition-all before:duration-500 hover:before:right-0 hover:before:w-full"
                        ><span class="relative z-10">Réservation</span></a
                    >
                </li>
                <!-- if connection or not -->
                @if (isLogin()) {
                    <!-- if role admin or employee else user -->
                    @if (currentUser()?.role === 'admin') {
                        <li class="relative hover:cursor-pointer">
                            <a
                                [routerLink]="['backoffice']"
                                class="transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-peach before:transition-all before:duration-500 hover:before:right-0 hover:before:w-full"
                                ><span class="relative z-10"
                                    >Administration</span
                                ></a
                            >
                        </li>
                    } @else if (currentUser()?.role === 'employee') {
                        <li class="relative hover:cursor-pointer">
                            <a
                                [routerLink]="['backoffice']"
                                class="transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-peach before:transition-all before:duration-500 hover:before:right-0 hover:before:w-full"
                                ><span class="relative z-10">Intranet</span></a
                            >
                        </li>
                    } @else {
                        <li class="relative hover:cursor-pointer">
                            <a
                                [routerLink]="['myspace']"
                                class="transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-peach before:transition-all before:duration-500 hover:before:right-0 hover:before:w-full"
                                ><span class="relative z-10"
                                    >Mon Espace</span
                                ></a
                            >
                        </li>
                    }
                    <li class="relative hover:cursor-pointer">
                        <a
                            (click)="logout()"
                            (keyup)="logout()"
                            tabindex="0"
                            class="transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-peach before:transition-all before:duration-500 hover:before:right-0 hover:before:w-full"
                            ><span class="relative z-10">Déconnexion</span></a
                        >
                    </li>
                } @else {
                    <li class="relative hover:cursor-pointer">
                        <a
                            [routerLink]="['login']"
                            class="transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-peach before:transition-all before:duration-500 hover:before:right-0 hover:before:w-full"
                            ><span class="relative z-10">Se connecter</span></a
                        >
                    </li>
                }
                <li class="relative hover:cursor-pointer">
                    <a
                        [routerLink]="['contact']"
                        class="transition-all before:absolute before:bottom-0 before:right-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-peach before:transition-all before:duration-500 hover:before:right-0 hover:before:w-full"
                        ><span class="relative z-10">Contact</span></a
                    >
                </li>
            </ul>
        </div>
    </nav>
    <!-- sidemenu -->
    <aside
        (click)="showSideMenu()"
        [ngStyle]="{ display: isShowSideMenu() ? 'flex' : 'none' }"
        class="justify-center bg-sage p-10"
        tabindex="0"
        (keyup.enter)="showSideMenu()"
        role="button"
    >
        <ul class="text-center space-y-6">
            <li>
                <a [routerLink]="['movies']">Films</a>
            </li>
            <li class="relative">
                <a [routerLink]="['reservation']">Réservation</a>
            </li>
            <!-- if connection or not -->
            @if (isLogin()) {
                <!-- if role admin else user -->
                @if (currentUser()?.role === 'admin') {
                    <li>
                        <a [routerLink]="['backoffice']">Administration</a>
                    </li>
                } @else if (currentUser()?.role === 'employee') {
                    <li>
                        <a [routerLink]="['backoffice']">Intranet</a>
                    </li>
                } @else {
                    <li>
                        <a [routerLink]="['myspace']">Mon espace</a>
                    </li>
                }
                <li>
                    <a (click)="logout()" (keyup)="logout()" tabindex="0"
                        >Déconnexion</a
                    >
                </li>
            } @else {
                <li>
                    <a [routerLink]="['login']">Se connecter</a>
                </li>
            }
            <li><a [routerLink]="['contact']"></a>Contact</li>
        </ul>
    </aside>
</header>
